extends ../../layouts/dash2-meke-it-better

block content
  h1 Copyright credits page
  
  div#credits-styles-wrapper

    h4 Where we get template data.
    div Ingredients and departments data, was exported from 
      a(href="https://www.grocerylists.org/ultimatest/") The Ultimatest Grocery Lists from grocerylists.org


    div Author of this website(Mr. Bill Keaggy) write a cool book "Milk Eggs Vodka: Grocery Lists Lost and Found"
    br
    div You can purchase it from  
      a(href="https://www.amazon.com/Milk-Eggs-Vodka-Grocery-Lists/dp/144031201X/") Amazon

    br
    
    h4 This project is open-source *. 
    p Copy this project and start to build your own shopping list project. 
      a(href="https://github.com/atherdon/loopback-fb-login")
    p 
      mark *
      |  Owner can change this permissions, but current version will be available on github.
    br 

    div Build with Loopback 
      a(href="https://loopback.io/") The Node.js API Framework
    br

    div Ingredients list template based on 
      a(href="https://todomvc.com/") TodoMVC
    br

    h4 Science data based on this researches
    
    div 
      a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4430323/") "Using a Grocery List Is Associated with a Healthier Diet and Lower BMI Among Very High Risk Adults"

      address.authors
        strong RAND Health
        br
        |  Corresponding Author: Tamara Dubowitz,
        br
        |  RAND Corporation,
        br
        |  4570 Fifth Avenue, Suite 600,
        br
        |  Pittsburgh, PA 15213
        br
        abbr(title='Phone') P:
        |  412 683 2300 x4400
        br
        abbr(title='Fax') F:
        |  412 683 2800
        br
        |  gro.dnar@ztiwobud


    div
      a(href="https://www.cambridge.org/core/journals/public-health-nutrition/article/which-foodrelated-behaviours-are-associated-with-healthier-intakes-of-fruits-and-vegetables-among-women/37F7EF55FA97B490311419A26E734268#") "Which food-related behaviours are associated with healthier intakes of fruits and vegetables among women?"
    p.authors
    | Crawford D, Ball K, Mishra G, Salmon J, Timperio A
        
    p.description
    | Public Health Nutr. 2007 Mar; 10(3):256-65.      

    br
    br
    h4 Free to use fronted tools
    div Icons from Font Awesome 
      a(href="https://fontawesome.io/") Website
    br
    div Icons from 7 Stroke 
      a(href="http://themes-pixeden.com/font-demos/7-stroke/") Website
    br

    div Google Fonts 
      a(href="https://fonts.google.com/specimen/Roboto") Website
    br
    div Dropdown list from Codrops tutorial  
      a(href="https://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/") Article
    br

    div Landing page prototype was build with Launchaco 
      a(href="http://launchaco.com/build/") Website    
    br