include ../../mixins/mixin.pug
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    //- link(rel='stylesheet', href='/css/landos/main.css')
    //link(rel='stylesheet', href='/css/dash/bootstrap.min.css')  

    link(rel='stylesheet', href='/css/landos/main.css')
    link(rel='stylesheet', href='/css/landos/devices.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')

    link(rel='stylesheet', href='/fonts/7-stroke/7-stroke.min.css')


  body



    header.header
      .container-lrg
        .col-12.spread
          div
            a.logo
              | Groceristar
              svg.icon
                use(xlink:href="#icon-logo46")
          

          div

            //a.nav-link(href='#')
              | Facebook Login

            //+button_facebook_login('nav-link')  

            //a.nav-link(href='#')
              | Home
            a.nav-link.facebook-login(href='/auth/facebook')
              i.fa.fa-facebook-square(aria-hidden="true")
              | Continue with Facebook
            //a.nav-link(href='#')
              | Signup
                            

      .container-sml.text-center
        .col-12
          h1.heading
            | This is Michelangelo Grocery List.
            | Maybe we can make it better?


      .container-lrg.flex
        .col-6.centervertical
          h2.paragraph
            | You're one step from creating your grocery list
          h2.paragraph  
            | The easiest way to create the new list by cloning template

          //include ../partials/home-links
  
          
          br
          
          .ctas
            a(href='/auth/facebook', class="btn ctas-button")
              | Sign Up via Facebook
          br
          p * We don't post anything to Facebook  

          br
          br
          br  

          h2.paragraph
            | Check what do we have before sign up
          .ctas
            +button_view_grocery('Review ' + ultimate.name)(class="btn ctas-button")

          
          //.ctas
            input.ctas-input(type='text', placeholder='Grocery List Name')
            button.ctas-button
              | Create Grocery List 
            span.hint
              | We'll clone Grocery List Template and you'll be able to customize it  
  
          
          


        .col-6.sidedevices
          .browserwrapper
            .browser
              .mask
                img.mask-img(src='/images/Michelangelo_shopping_list.jpg')
                // 2098182380_60d5ea00de_b.jpg


    //.feature2
      .container-lrg.flex
        .col-12
          h1 Features


    .feature2
      .container-lrg.flex

        .col-6
          .icon-large       
            i.icon.pe-shopbag

          h3.subheading
            | Organize your shopping experience
          p.paragraph
            | Do you want to spend less? Do you want to reduce your impulse purchases? Grocery lists can help you. You'll buy only foods that you need


        .col-6
          .icon-large       
            i.icon.pe-phone   
       

          h3.subheading
            | Mobile-oriented design (80% completed by Bootstrap)

          p.paragraph
            | You can manage all data from your phone. You always carry your smartphone, instead of paper lists. Your lists on your phone, period.




    .feature2
      .container-lrg.flex
        
        .col-6
          .icon-large       
            i.icon.pe-edit     
       
          h3.subheading
            | Customization
          p.paragraph
            | This is your own lists. You can do anything.


        .col-6
   
          .icon-large       
            i.icon.pe-search      

          h3.subheading
            | Quick access (coming soon)
          p.paragraph
            | Search ingredients in database, at your lists       



    .feature2
      .container-lrg.flex
        .col-6

          .icon-large       
            i.icon.pe-pen       

          h3.subheading
            | Save time by cloning Ultimate Template
          p.paragraph
            | Don't forget anything on your next shopping session. You can clone your previous lists too


        .col-6
          .icon-large       
            i.icon.pe-loop 
        
          h3.subheading
            | Improve your health and live longer
          p.paragraph
            | When you plan your shopping trips you can avoid this perfect cupcake or ice cream 

 

    .feature2
      .container-lrg.flex
        .col-6
          .icon-large       
            i.icon.pe-like 
          

          h3.subheading
            | Favorite ingredients (Coming soon)
          p.paragraph
            | Save your favorite ingredients for fast access later

        .col-6
   
          .icon-large       
            i.icon.pe-download       

          h3.subheading
            | Save and share your lists  (Coming soon)
          p.paragraph
            | You can use this list with your family members. Love paper lists? You can print them! 




    .feature2
      .container-lrg.flex
        .col-6
          
          .icon-large
            i.icon.pe-cash

          h3.subheading
            | Plan your family budget (coming soon)
          p.paragraph
            | You can calculate and plan your purchases. Control how much do you spend on this shopping session

        .col-6
          .icon-large       
            i.icon.pe-calculator

          h3.subheading
            | Instant Handles (coming soon)             
          p.paragraph
            | Plan your budget from your previously purchase history handles 





    include ../../partials/science          



    .footer
      .container-sml.text-center
        .col-12
          h5.heading
            | Create Grocery Lists in a few minutes
          .ctas
            a.ctas-button(href='/auth/facebook')
              | Continue with Facebook

          .ctas
            +button_view_grocery('Review ' + ultimate.name)(class="btn ctas-button")    

              
      .container-lrg.footer-nav
        .col-12.spread
          div
            a.nav-link(href="/terms")
              | Terms
            a.nav-link(href="/privacy")
              | Privacy
          div
            a.nav-link(href="mailto:arthur.tkachenko.netweight@gmail.com")
              | Email Us
            a.nav-link(href="/credits")
              | Credits
            a.nav-link(href="https://github.com/atherdon/groceristar")
              | Github Project   

    
    include ../../static/svg.html


    script(src='https://use.fontawesome.com/8b5217f583.js')