extends ../../layouts/dash2-meke-it-better

block content
  h1= title
  
  div#credits-styles-wrapper

    h4 By visiting #{companyName}, you agree to accept all of these Terms and Conditions.

    h3 Objective
    p The use of this website is expressly conditioned on your acceptance of all terms and conditions stated herein and within any other location on this website. 

    h3 Usage Agreement
    p DO NOT USE THIS WEBSITE or any content from this website if you do not accept all of the terms and conditions stated herein and at other locations of our website including, but not limited to Frequently Asked Questions and the Privacy Policy. 

    h3 Registration
    p You must register for a website account before using our services by filling out the information on the registration screen of this website. You will register only one time and use your account from then on. 

    h3 Changes 
    p #{companyName} reserves the right to change, modify, or discontinue any portion and/or all of these Terms and Conditions at their discretion whether temporary or permanent without notice. By using our website, you agree that #{companyName} is not liable for any modification, suspension, or discontinuance of the Website. 

    h3  Maintenance &amp; Upgrades

    p Our infrastructure and network may need to be taken offline from time to time for the purpose of maintenance or upgrades. This offline status may be scheduled or on an emergency level which would be performed immediately without notification. We will not be held responsible for the downtime of our website. 

    h3 Termination
    p This agreement is not in requirement of duration and will continue until one of the parties terminates the agreement. You may terminate this agreement by informing us at any time by written notice. We will terminate this agreement immediately on any grounds that you have breached this contract. We will inform you in writing. 

    br
    br
    br