.col-md-12
  .round-border
    each val, index in elements
      a.border-item(href='/todo/' + groceryId + '/' + val.id)
        h4.list-group-item-heading= val.name + '( ' + val.id + ' ) '
          i.fa.fa-long-arrow-right(aria-hidden="true")
          if val.ingredients.length
            i.fa.fa-eye-slash
          else    
            i.fa.fa-eye