.container-fluid
  .grid
    .grid-sizer.col-xs-4
    | tryaaaa
    .grid-item.col-xs-4
      .grid-item-content
      | Bryyyyaaaaa
    .grid-item.col-xs-4
      .grid-item-content      
      | Pow Pow Pow Pow


.container-fluid
  .grid
    .grid-item.col-xs-4
      .grid-item-content
    .grid-item.col-xs-4
      .grid-item-content      