form#purchased(name="formsubmit", method="post", action="/update/name")
  input(type="text", name="name", value="THIS IS A NEW NAME")  
  input(type="text", name="groceryId", value="598397f9363a9c1b385bfbac")

  input.btn.btn-success(type='submit', value='Save')