form#purchased(name="formsubmit", method="post", action="/update/name")
  input(type="text", name="name", value="THIS IS A NEW NAME")  
  br
  input(type="text", name="groceryId", value=groceryId)
  br
  input.btn.btn-success(type='submit', value='Save')