li:nth-child(1) {
  color: #0d0d0d;
}

li:nth-child(2) {
  color: #1a1a1a;
}

li:nth-child(3) {
  color: #262626;
}

li:nth-child(4) {
  color: #333333;
}

li:nth-child(5) {
  color: #404040;
}

li:nth-child(6) {
  color: #4d4d4d;
}

li:nth-child(7) {
  color: #595959;
}

li:nth-child(8) {
  color: #666666;
}

li:nth-child(9) {
  color: #737373;
}

li:nth-child(10) {
  color: gray;
}


body {
  background-color: #fafafa;
}

/*.container.container-custom {
  background-color: #f1f4f5;
}*/

.round-border .border-item {
  font-size: 2em;
  font-weight: 700;
  max-width: 600px;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: black;

  box-shadow: 0 10px 0 -5px rgba(0,0,0,0.1);

    border: 5px solid #000;
    /* border: 0px; */
    border-color: inherit;
    -webkit-transition: background 0.2s, border-color 0.2s;
    transition: background 0.2s, border-color 0.2s;


    padding-right: 3em;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 15px;
}


#credits-styles-wrapper,
#credits-styles-wrapper h1 {
  font-family: 'Raleway';
}