mixin link(href, name)
  a.btn(class!=attributes.class title=name href=href target="_blank")= name

// example +link('http://peexaweb.com', 'Google')(class="additional-class")

mixin view_departments1(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          a(href='/delete/department/' + val.id) view  

mixin view_departments_extended(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) ' + ' isVISIBLE?: ' + val.visible
          a(href='/delete/department/' + val.id) view  

mixin view_departments_awesome(array)
  ul
    each val, index in data.departments
      li= val.name + '( ' + val.id + ' ) '
        a(href='/delete/department/' + val.id) view

        if user
        //- User *is* logged In

          if val.visible
            a(href='/hide/department/' + val.id) HIDE
          else
            a(href='/show/department/' + val.id) SHOW 

          a(href='/visibility/department/' + val.id)
            i.fa.fa-bell.fa-4x   
