mixin link(href, name)
  a.btn(class!=attributes.class title=name href=href target="_blank")= name

// example +link('http://peexaweb.com', 'Google')(class="additional-class")

mixin view_departments1(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          a(href='/#' + val.id) view  

mixin view_departments_extended(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) ' + ' isVISIBLE?:  ' + val.visible
          a(href='/#' + val.id) ' ' + view  

mixin view_departments_awesome(array)
  ul
    each val, index in array
      li= val.name + '( ' + val.id + ' ) '
        a(href='/#' + val.id) view

        //if user
        //- User *is* logged In



        a(href='/visibility/department/' + val.id)
          i.fa.fa-bell.fa-4x
          SHOW   
