include ../mixins/mixin.pug
doctype html
html.no-js.css-menubar(lang='en')
  head

    block head 

    include ../static/styles-select

    include ../static/styles-dash  

  body

    include ../partials/browserupdate

    include ../partials/navigation

    //block inside this partial
    //include ../partials/banner
    
    .container.container-custom

      block content 

    include ../static/scripts-dash


    if isMobile
      <!-- mobile script enabled --> 
      include ../static/scripts-mobile-select.pug  
    else
      include ../static/scripts-select.pug