script.
  $( document ).ready(function() {

    var groceryId = $('#grocery').val();
     //- console.log(groceryId);

  $('select').on('change', function() {
  //- alert( this.value );

  var path = "/shopping/" + groceryId + '/' + this.value;
  window.location.replace(path);
  })
  });