script.
  (function() {

     var groceryId = document.getElementById('grocery').value;
     console.log(groceryId);

     var isMobile = document.getElementById('mobile-detector');

     if (typeof isMobile !== 'undefined') {
      // your code here
    }

     var selectElement = document.querySelector('select');
      myFXSelect = new SelectFx(selectElement, {
        onChange: function(val) {
          //console.log('val', val); 
          // val is departmentId value
          var path = "/shopping/" + groceryId + '/' + val;
          window.location.replace(path);
        }
      });

  })();  