// FAVICON
link(rel='icon', href='assets/images/favicon/favicon.ico')

// BOOTSTRAP CSS
link(rel='stylesheet', href='assets/css/plugins/bootstrap.min.css')
// FONT ICONS
link(rel='stylesheet', href='assets/css/icons/icons.min.css')
// GOOGLE FONTS
link(href='http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee', rel='stylesheet')
// PLUGINS STYLESHEET
link(rel='stylesheet', href='assets/css/plugins/plugins.min.css')
// CUSTOM STYLESHEET
link(rel='stylesheet', href='assets/css/style.css')
// RESPONSIVE FIXES
link(rel='stylesheet', href='assets/css/responsive.css')
// COLORE STYLESHEET
// Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css
link(rel='stylesheet', href='assets/css/colors/red.css', title='red')
//if lt IE 9
  script(src='assets/js/plugins/html5shiv.min.js')
  script(src='assets/js/plugins/respond.min.js')