
script(src='../../assets/vendor/jquery/jquery.js')
script(src='../../assets/vendor/bootstrap/bootstrap.js')
script(src='../../assets/vendor/animsition/jquery.animsition.js')
script(src='../../assets/vendor/asscroll/jquery-asScroll.js')
script(src='../../assets/vendor/mousewheel/jquery.mousewheel.js')
script(src='../../assets/vendor/asscrollable/jquery.asScrollable.all.js')
script(src='../../assets/vendor/ashoverscroll/jquery-asHoverScroll.js')

// Plugins
script(src='../../assets/vendor/switchery/switchery.min.js')
// <script src="../../assets/vendor/intro-js/intro.js"></script>
// <script src="../../assets/vendor/screenfull/screenfull.js"></script>
// <script src="../../assets/vendor/slidepanel/jquery-slidePanel.js"></script>

// Plugins For This Page
script(src='../../assets/vendor/editable-table/mindmup-editabletable.js')
script(src='../../assets/vendor/editable-table/numeric-input-example.js')

// Scripts
script(src='../../assets/js/core.js')
script(src='../../assets/js/site.js')
// <script src="../../assets/js/sections/menu.js"></script>
script(src='../../assets/js/sections/menubar.js')
// <script src="/javascript/dash/sections/gridmenu.js"></script>
// <script src="/javascript/dash/sections/sidebar.js"></script>
script(src='/javascript/dash/configs/config-colors.js')
script(src='/javascript/dash/configs/config-tour.js')
script(src='/javascript/dash/components/asscrollable.js')
script(src='/javascript/dash/components/animsition.js')
script(src='/javascript/dash/components/slidepanel.js')
// <script src="/javascript/dash/components/switchery.js"></script>

// Scripts For This Page
script(src='/javascript/dash/components/editable-table.js')
script(src='/javascript/dash/editable.js')
