script(src='assets/js/plugins/jquery1.11.0.min.js')

script(src='assets/js/plugins/bootstrap.min.js')

script(src='assets/js/plugins/jquery.easing.1.3.min.js')

script(src='assets/js/plugins/modernizr.custom.min.js')

script(src='assets/js/plugins/plugins.min.js')

// Custom Script
script(src='assets/js/custom.js')
