<div class="panel animation-fade">
  <div class="panel-body">
    <div class="row">
      <!-- Collapse -->
        <div class="col-lg-12">
          <div class="example-wrap">
            <h4 class="example-title">Collapse  <small>(<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/collapse">ui.bootstrap.collapse</a>)</small></h4>
            <div class="example">
              <div class="row">
                <div class="col-md-6 show-grid" ng-controller="CollapseDemoController">
                  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
                  <hr>
                  <div collapse="isCollapsed">
                    <div class="well well-lg">Some content</div> 
                  </div>
                </div>
                <div class="col-md-6">
                  <p>AngularJS version of Bootstrap's collapse plugin. Provides a simple way to hide and show an element with a css transition</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Collapse -->
    </div>
  </div>
</div>
