<div class="panel animation-fade">
  <div class="panel-body">
    <div class="row">
      <!-- Dropdown -->
        <div class="col-lg-12">
          <div class="example-wrap">
            <h4 class="example-title">Dropdown  <small>(<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/dropdown">ui.bootstrap.dropdown</a>)</small></h4>
            <div class="example">
              <div class="row">
               <div class="col-md-6 show-grid" ng-controller="DropdownDemoController">
                  <!-- Single button -->
                  <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                      Button dropdown <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <!-- Split button -->
                  <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <hr />
                  <p>
                      <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
                      <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
                  </p>
                </div>
                <div class="col-md-6">
						      <p>Dropdown is a simple directive which will toggle a dropdown menu on click or programmatically.You can either use <code>is-open</code> to toggle or add inside a <code>&lt;a dropdown-toggle&gt;</code> element to toggle it when is clicked.There is also the <code>on-toggle(open)</code> optional expression fired when dropdown changes state.</p>
					      </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Dropdown -->
    </div>
  </div>
</div>
