<div class="navigation-bar">
  <div class="navigation-bar__left">

    <a class="toolbar-button--outline" href="back">
    Go Back
    </a>

    //- //- <span class="toolbar-button--outline">
    //-   <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
    //- //-   <span class="toolbar-button--outline" data-href="#">Go Back</span>
    //- //- </span>
  </div>

  <div class="navigation-bar__center">
    Title
  </div>

  <div class="navigation-bar__right">
    <span class="toolbar-button--outline">Button</span>
  </div>
</div>