<div class="navigation-bar">
  <div class="navigation-bar__left">

    <a class="toolbar-button--outline" href="back">
    Go Back
    </a>

  </div>

  <div class="navigation-bar__center">
    Title
  </div>

  <div class="navigation-bar__right">
    <span class="toolbar-button--outline">Button</span>
  </div>
</div>