label.list__item__center(for="checkbox2") 
    
  if( element.completed )
    // change it :todo
    span(style="text-decoration: line-through;")=element.name
  else	    	
    span=element.name

  // :todo change it      
  input.text-input.edit(type="text", value=element.name, style="display: none;")