each element in list
  //h2=element.completed
  if( element.completed )
    li.list__item.list__item--tappable.completed(data-element=element)
  else
    li.list__item.list__item--tappable(data-element=element)

      include item-checkbox
      include item-center
      include item-right