extends ../layouts/dashboard

block content
  .row.mt-120 
    if groceries.length !== 0
      .col-md-6
        h1 Your current Grocery List is: 
        //+view_groceries_short2(groceries[0]) 
      .col-md-6
        +button_clone_ultimate(ultimate)

    else
      .col-md-6
        h3 You don't clone any grocery list yet.
        +link_clone_ultimate2(ultimate.id, 'Start to work by clonning Ultimate Grocery template')
    


    if groceries.length !== 0
      .col-md-6
        h1 Your Grocery Lists
      .col-md-6
        +view_groceries_short2(groceries)
