extends ../layouts/dashboard

block content

  include ../partials/fb-login-info


  if groceries
    .col-md-12
      h1 Your Grocery Lists
    .col-md-12
      +view_groceries_short2(groceries)
  else 
    .col-md-12
      h1 You don't clone any grocery list yet.
  br




  hr
  +button_clone_ultimate(clone)  
  hr
