extends ../layouts/dashboard

block content
  .row.mt-120 
    if groceries.length !== 0
      .col-md-8
        h1 Your current Grocery List is:
        .row
          .col-md-8 
            +view_groceries_short_one(groceries[0]) 

      .col-md-4
        p.mt-90
          +link_clone_ultimate3(ultimate.id, 'Create new grocery') 
          | &nbsp;by cloning Grocery Template
        //+button_clone_ultimate(ultimate)

    else
      .col-md-8
        h3 You don't clone any grocery list yet.
        +link_clone_ultimate2(ultimate.id, 'Start to work by clonning Ultimate Grocery template')
    


    if groceries.length !== 0
      .col-md-8.mt-80
        h1 Your Grocery Lists
      .col-md-8
        .row
          .col-md-8
            +view_groceries_short2(groceries)
