extends ../layouts/dashboard

block content
  h2 Third Party Profile(s)
  p.small
    if user.profiles.length !== 0
      each val in user.profiles
        h4= val.provider + ':'
        p.small= JSON.stringify(val)
    else
      | NONE

  hr

  a.btn.btn-primary(href="/select/59b72480f6d6fb0744f2e5fd")  Select


  include ../partials/account-inside-buttons

  if groceries
    .col-md-12
      +view_groceries_short(groceries)

  br


  hr
  +button_clone_ultimate(clone)  
  hr



  h2 Linked Account(s)
  ul.list-inline.list-unstyled
    li
      a.btn.btn-primary(href="/link/facebook") Link Facebook


  p.small
    if user.accounts.length !== 0
      each val in user.accounts
        h4= val.provider + ':'
        p.small= JSON.stringify(val)
    else
      | NONE