extends ../layouts/grocery

block content
  h1 this is content title
  
  div

    Credits page:
    Data was a steal from Ultimate grocery list: www.grocerylists.org/ultimatest/
    br
    Get the copy of this project and start to build your own shopping list project. https://github.com/atherdon/loopback-fb-login
    br 
    Build with Loopback https://loopback.io/
    br
    Todo list from todomvc.com
    br
    Grocery information based on research ...
    "Using a Grocery List Is Associated with a Healthier Diet and Lower BMI Among Very High Risk Adults"
    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4430323/
    br
    Icons from Font Awesome and 7 Stroke fontawesome.io & http://themes-pixeden.com/font-demos/7-stroke/
    br
    Dropdown list from Codrops tutorial https://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/
    br
    Landing page prototype was with Launchaco http://launchaco.com/build/
    br
    All ingredients, based on content, from this website - http://www.grocerylists.org/
    br
    Author of this website cool book
    br
    Owned by Bill Keaggy
    br
    You can purchase it from Amazon.
    br
    //https://www.amazon.com/Milk-Eggs-Vodka-Grocery-Lists/dp/144031201X/