extends ../layouts/layout

block content

  .row
    .col-md-12
      h1 Sample Functionality
      h1= name
      h1= description
      h1= id
      p.lead In this sample application you can:

      ul
        each val, index in ingredients
          li= val.name + '( ' + val.id + ' )'

    .col-md-12
      include ../partials/departments-list    

