extends ../layouts/dashboard

block content

  .row
    .col-md-12
    
      h1= name
      +link_remove_department(id, groceryId)

      br
      +link_visibility(id, groceryId)

      h1= description
      h1= id
    

      //include ../forms/add-ingredient    



      ul
        each val, index in ingredients
          li= val.name + '( ' + val.id + ' )'


      include ../partials/department-grid


