extends ../layouts/dashboard

block content

  .row
    .col-md-12
    
      h1= name
      a(href="/remove/department/:id/:groceryId") Remove Department from Grocery list
      br
      a(href="/visibility/department/:id/:groceryId") Visiblity this link can control
      h1= description
      h1= id
    

      ul
        each val, index in ingredients
          li= val.name + '( ' + val.id + ' )'




