extends ../layouts/dashboard

block content
  h2= title

  hr

  if groceries
    .col-md-12
      include ../partials/groceries-list
      
    br
  else
    h2 You don't add any grocery lists at this moment    
