extends ../layouts/layout

block content
  .row
    .col-md-6.col-md-offset-3

    .col-md-12
      include ../partials/grocery-item

    .col-md-12
      h2 with hidden option
      +view_departments(data.departments, false)