extends ../layouts/dashboard

block content
  .row
    .col-md-6.col-md-offset-3


    .col-md-12
      h2 with hidden option
      +view_departments_extended(departments)

    .col-md-12
      hr
      +view_departments_awesome(departments)  

    .col-md-12
      each val, index in departments
        .col-md-4.element-item
          h3= val.name
            a(href='/visibility/department/' + val.id)
              i.fa.fa-eye  
              i.fa.fa-eye-slash.hide    

          ul
            each ing, j in val.ingredients
              li= ing.id + ' | ' + ing.name
              a(href='#') empty
              a(href='#') delete
              a(href='#') purchase
         
          hr

    hr
    
  // include ../partials/grid-delete-later    

