extends ../layouts/dashboard

block content
  .row
    .col-md-6.col-md-offset-3

    .col-md-12
      //include ../partials/grocery-item

    .col-md-12
      h2 with hidden option
      +view_departments_extended(departments)

    .col-md-12
      hr
      +view_departments_awesome(departments)  

    .col-md-12
      each val, index in departments
        .col-md-4.element-item
          h1= val.name
            a(href='/visibility/department/' + val.id)
              i.fa.fa-bell.fa-4x
              i.fa.fa-eye.fa-4x  
              i.fa.fa-eye-slash.fa-4x    

          ul
            each ing, j in val.ingredients
              li= ing.id + ' | ' + ing.name
              a(href='#') empty
              a(href='#') delete
              a(href='#') purchase
         
          hr
