extends ../layouts/grocery

block content

  section.todoapp(data-query='view(Todos)')
    header.header
      h1 todos
      input.new-todo(data-query='val(newTodo.title).keydown(addTodo)', placeholder='What needs to be done?', autofocus='')
    section.main(data-query='visible(todos().length > 0)', style='display: none;')
      input.toggle-all(data-query='checked(todos.remaining() == 0).click(todos.toggleAll)', type='checkbox')
      label(for='toggle-all') Mark all as complete
      ul#todo-todo-todo.todo-list(data-query='each(todos.view)')
        li(data-query="setClass('completed', completed).setClass('editing', editing).dblclick(edit)")
          .view
            input.toggle(data-query='checked(completed).click(toggleComplete)', type='checkbox')
            label
              span.drag-handle ☰
              | 						{{title}}
            button.destroy(data-query='click(destroy)')
          input.edit(data-query='val(title).keydown(handleAction).blur(closeEdit).focused(editing)')
    footer.footer(data-query='visible(todos().length > 0)', style='display: none;')
      span.todo-count
        strong {{todos.remaining}}
        |  {{todos.remaining() == 1 ? 'item' : 'items'}} left
      ul.filters
        li
          a(data-query="setClass('selected', filter() == 'all')", href='#/') All
        li
          a(data-query="setClass('selected', filter() == 'active')", href='#/active') Active
        li
          a(data-query="setClass('selected', filter() == 'completed')", href='#/completed') Completed
      button.clear-completed(data-query='visible(todos().length != todos.remaining()).click(todos.clearCompleted)') Clear completed

