doctype html
html(lang='en', data-framework='jquery')
  head
    meta(charset='utf-8')
    title= 'Shopping List: ' + groceryId





    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')

    
    link(rel='stylesheet', href='/css/select-demo/normalize.css')
    link(rel='stylesheet', href='/css/select-demo/demo.css')
    link(rel='stylesheet', href='/css/select-demo/cs-select.css')
    link(rel='stylesheet', href='/css/select-demo/cs-skin-border.css')




    link(rel='stylesheet', href='/css/jquery/base.css')

    link(rel='stylesheet', href='/css/jquery/index.css')

    link(rel='stylesheet', href='/css/one.css')



  body(data-grocery-id=groceryId)


    //ul#foo
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1



    include ../partials/departments-select2



    section#todoapp
      header#header
        //h1= name
        input#new-todo(placeholder='Ingredient name', autofocus='', data-department-id=departmentId)
      section#main
        input#toggle-all(type='checkbox')
        label(for='toggle-all') Mark all as complete
        ul#todo-list
      footer#footer
    footer#info
      p Double-click to edit an ingredient 


    include ../static/scripts-todo.pug  

    include ../static/scripts-select.pug