doctype html
html(lang='en', data-framework='jquery')
  head
    meta(charset='utf-8')
    title= 'jQuery • TodoMVC' + groceryId

    link(rel='stylesheet', href='/css/jquery/base.css')

    link(rel='stylesheet', href='/css/jquery/index.css')

    link(rel='stylesheet', href='/css/one.css')



  body(data-groceryId=groceryId)
    section#todoapp
      header#header
        h1= 'todos ' + groceryId
        input#new-todo(placeholder='What needs to be done?', autofocus='')
      section#main
        input#toggle-all(type='checkbox')
        label(for='toggle-all') Mark all as complete
        ul#todo-list
      footer#footer
    footer#info
      p Double-click to edit a todo




    //script(src='base.js')
    script(src='/javascript/home/js/plugins/jquery1.11.0.min.js')

    script(src='/javascript/jquery/director.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js')
    
    script(src='/javascript/jquery/app.js')