extends ../layouts/layout

block content
  .jumbotron
    h1 Passport Authentication Example

    

  .row
    .col-md-12
      h1 Sample Functionality
      p.lead In this sample application you can:
      ul
        li
          a(href='/signup') Signup for a local account
        li
          a(href='/login') Login to your account using either a local account or social accounts
