extends ../layouts/dashboard

block content
  .jumbotron
    h1 Passport Authentication Example

  .row
    .col-md-12
      
      include ../partials/home-links





    .col-md-12
      //+view_departments1(departments)
      // include ../partials/departments-list
