include ../mixins/mixin.pug
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')


    link(rel='stylesheet', href='/css/landos/main.css')
    link(rel='stylesheet', href='/css/landos/devices.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')

    link(rel='stylesheet', href='/fonts/7-stroke/7-stroke.min.css')


  body



    header.header
      .container-lrg
        .col-12.spread
          div
            a.logo
              | Groceristar
              svg.icon
                use(xlink:href="#icon-logo46")
              //svg.icon
                use(xlink:href="#icon-logo47")    
              //- img(src="/images/logo46.svg", alt="Go to home page")

          div

            //a.nav-link(href='#')
              | Facebook Login

            //+button_facebook_login('nav-link')  

            a.nav-link(href='#')
              | Home
            a.nav-link.facebook-login(href='/auth/facebook')
              i.fa.fa-facebook-square(aria-hidden="true")
              | Continue with Facebook
            a.nav-link(href='#')
              | Signup
                            

      .container-sml.text-center
        .col-12
          h1.heading
            | This is Michelangelo Grocery List.
            | Maybe we can make it better?


      .container-lrg.flex
        .col-6.centervertical
          h2.paragraph
            | We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.


          //include ../partials/home-links
  

          a(href='/clone/' + ultimate.id, class="btn")= 'Clone >' + ultimate.name

          .ctas
            input.ctas-input(type='text', placeholder='Grocery List Name')
            button.ctas-button
              | Create Grocery List 
            span.hint
              | We'll clone Grocery List Template and you'll be able to customize it  

          a.nav-link(href='#')
            | Review <Ultimate Grocery List>    
          +button_view_grocery(ultimate.id, 'Review ' + ultimate.name)
          
          

        .col-6.sidedevices
          .browserwrapper
            .browser
              .mask
                img.mask-img(src='/images/Michelangelo_shopping_list.jpg')
                // 2098182380_60d5ea00de_b.jpg


    //.feature2
      .container-lrg.flex
        .col-12
          h1 Features


    .feature2
      .container-lrg.flex

        .col-6
          .icon-large       
            i.icon.pe-shopbag

          h3.subheading
            | Organize your shopping experience
          p.paragraph
            | You want to spend less? You want to reduce your impulse purchases? So grocery lists can help you. You'll buy only foods that you need


        .col-6
          .icon-large       
            i.icon.pe-phone   
       

          h3.subheading
            | Mobile oriented design

          p.paragraph
            | You can manage all data from your phone. You always carry your smartphone, instead of paper lists. Your lists on your phone, period.




    .feature2
      .container-lrg.flex
        
        .col-6
          .icon-large       
            i.icon.pe-edit     
       
          h3.subheading
            | Customization
          p.paragraph
            | This is your own lists. You can do anything.


        .col-6
   
          .icon-large       
            i.icon.pe-search      

          h3.subheading
            | Quick access 
          p.paragraph
            | Search ingredients in database, at your lists       



    .feature2
      .container-lrg.flex
        .col-6

          .icon-large       
            i.icon.pe-pen       

          h3.subheading
            | Save time by cloning Ultimate Template or your previous lists
          p.paragraph
            | Don't forget anything on your next shopping session

        .col-6
          .icon-large       
            i.icon.pe-loop 
        
          h3.subheading
            | Improve your health and live longer!
          p.paragraph
            | When you planning your shopping trips you can avoid this perfect cup cake or ice cream. 

 

    .feature2
      .container-lrg.flex
        .col-6
          .icon-large       
            i.icon.pe-like 
          

          h3.subheading
            | Favourite ingredients
          p.paragraph
            | Save your favourite ingredients for fast access later (Coming soon)

        .col-6
   
          .icon-large       
            i.icon.pe-download       

          h3.subheading
            | Save and share your lists with family
          p.paragraph
            | Love paper lists? You can print them! (Coming soon)




    .feature2
      .container-lrg.flex
        .col-6
          
          .icon-large
            i.icon.pe-cash

          h3.subheading
            | Plan your family budget
          p.paragraph
            | You can calculate and plan your purchases (coming soon) Log how much do you spend on this shopping session

        .col-6
          .icon-large       
            i.icon.pe-calculator

          h3.subheading
            | Instant Handles
          p.paragraph
            | Plan your budget from your previous purchased items history handles. (coming soon)                                               





    include ../partials/science          



    .footer
      .container-sml.text-center
        .col-12
          h5.heading
            | Create Grocery Lists in a few minutes
          .ctas
            a.ctas-button(href='/auth/facebook')
              | Continue with Facebook

              
      .container-lrg.footer-nav
        .col-12.spread
          div
            a.nav-link(href="#")
              | Twitter
            a.nav-link(href="#")
              | Facebook
          div
            a.nav-link(href="#")
              | Email Us
            a.nav-link(href="/credits")
              | Credits  

    
    include ../static/svg.html


    script(src='https://use.fontawesome.com/8b5217f583.js')