extends ../layouts/landos

block content

    header.header
      .container-lrg
        .col-12.spread

          div
            a.logo
              | STARTAPEEEE
          div
            a.nav-link(href='#')
              | Twitter
            a.nav-link(href='#')
              | Facebook


      .container-sml.text-center
        .col-12
          h1.heading
            | This is Michelangelo Grocery List.
            | It's a good time to make grocery easy!

      include ../partials/home-links
            
      .container-lrg.flex
        .col-6.centervertical
          h2.paragraph
            | We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.

          

          .ctas
            input.ctas-input(type='text', placeholder='Your Email Address')
            button.ctas-button
              | Sign Up


        .col-6.sidedevices
          .browserwrapper
            .browser
              .mask
                img.mask-img(src='img/Michelangelo_shopping_list.jpg')
                // 2098182380_60d5ea00de_b.jpg
                // Michelangelo_shopping_list.jpg


    .feature2
      .container-lrg.flex
        .col-6
          b.emoji
            | 🎓
          h3.subheading
            | Brilliant Domain Names.
          p.paragraph
            | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!


        .col-6
          b.emoji
            | 💐
          h3.subheading
            | Instant Handles
          p.paragraph
            | Naming your brand has never been soooo easy! With Launchaco you can instantly search for twitter, facebook, medium, and instagram handles.


    .socialproof.feature2
      .container-techniq
        .flex.text-center
          .col-12
            h4.subheading
              | "Prior studies employing a variety of designs and measures provide mixed evidence that using a list is associated with improved dietary quality or weight."
            p.authors
              | Crawford D, Ball K, Mishra G, Salmon J, Timperio A
            p.description
              | Which food-related behaviours are associated with healthier intakes of fruits and vegetables among women?
            p.description
              | Public Health Nutr. 2007 Mar; 10(3):256-65.

    .socialproof
      .container-techniq
        .flex.text-center
          .col-12
            h4.subheading
              | Food shoppers who reported “always” using a shopping list had significantly higher dietary quality. ...
              | After applying a Bonferroni correction ... the association between those who always used a list and knowledge of eating fruits and vegetables, and trying to eat fewer calories [was eliminated].
            p.description
              | Using a Grocery List Is Associated with a Healthier Diet and Lower BMI Among Very High Risk Adults
            address.authors
              strong RAND Health
              br
              |  Corresponding Author: Tamara Dubowitz,
              br
              |  RAND Corporation,
              br
              |  4570 Fifth Avenue, Suite 600,
              br
              |  Pittsburgh, PA 15213
              br
              abbr(title='Phone') P:
              |  412 683 2300 x4400
              br
              abbr(title='Fax') F:
              |  412 683 2800
              br
              |  gro.dnar@ztiwobud
            //
              <p class="authors">
              , Phone: 412 683 2300 x4400, Fax: 412 683 2800,
              </p>

    .footer
      .container-sml.text-center
        .col-12
          h5.heading
            | Instantly search domains, handles and logotypes.
          .ctas
            a.ctas-button(href='')
              | Sign Up
            a.ctas-button-2(href='')
              | Sign Up
      .container-lrg.footer-nav
        .col-12.spread
          div
            a.nav-link
              | Twitter
            a.nav-link
              | Facebook
          div
            a.nav-link
              | Email Us
