include ../mixins/mixin.pug
html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/css/landos/main.css')
    link(rel='stylesheet', href='/css/landos/devices.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')

    link(rel='stylesheet', href='/fonts/7-stroke/7-stroke.min.css')


  body
    header.header
      .container-lrg
        .col-12.spread
          div
            a.logo
              | STARTAPEEEE

          div

            //a.nav-link(href='#')
              //| Facebook Login

            //+button_facebook_login('nav-link')  

            a.nav-link(href='#')
              | Home
            a.nav-link.facebook-login(href='#')
              i.fa.fa-facebook-square(aria-hidden="true")
              | Continue with Facebook
            a.nav-link(href='#')
              | Signup
                            

      .container-sml.text-center
        .col-12
          h1.heading
            | This is Michelangelo Grocery List.
            | Maybe we can make it better?


      .container-lrg.flex
        .col-6.centervertical
          h2.paragraph
            | We're creating the best place to go when starting a new business or company. With Launchaco you can instantly search domain names, social media handles, and see your logo in beautiful logotypes.


          include ../partials/home-links


          .ctas
            input.ctas-input(type='text', placeholder='Grocery List Name')
            button.ctas-button
              | Create Grocery List 
            span.hint
              | We'll clone Grocery List Template and you'll be able to customize it  

          a.nav-link(href='#')
            | Review <Ultimate Grocery List>    
          +button_view_grocery(data.id, 'Review ' + data.name)
          

        .col-6.sidedevices
          .browserwrapper
            .browser
              .mask
                img.mask-img(src='/images/Michelangelo_shopping_list.jpg')
                // 2098182380_60d5ea00de_b.jpg
                // Michelangelo_shopping_list.jpg




    .feature2
      .container-lrg.flex
        .col-4
          .icon-large       
            i.icon.pe-shopbag

          //i.icon.pe-shopbag(style="font-size: 60px;")
          //i.icon.pe-search(style="font-size: 60px;")
          //i.icon.pe-note2(style="font-size: 60px;")
          //i.icon.pe-pen(style="font-size: 60px;")
          //i.icon.pe-phone(style="font-size: 60px;")
          //i.icon.pe-like(style="font-size: 60px;")
          //i.icon.pe-edit(style="font-size: 60px;")
          //i.icon.pe-download(style="font-size: 60px;")


          h3.subheading
            | Brilliant Domain Names.
          p.paragraph
            | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!

        .col-4
          .icon-large       
            i.icon.pe-edit     
       
          h3.subheading
            | Customization
          p.paragraph
            | Clone and customize your own lists. 

        .col-4
   
          .icon-large       
            i.icon.pe-edit       

         


          h3.subheading
            | Brilliant Domain Names.
          p.paragraph
            | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!            

    .feature2
      .container-lrg.flex
        

        .col-4
          .icon-large       
            i.icon.pe-phone   
       

       


          h3.subheading
            | Mobile oriented design
          p.paragraph
            | You can manage all data from your phone.

        .col-4
          .icon-large       
            i.icon.pe-note2  

    .feature2
      .container-lrg.flex
        .col-4

          .icon-large       
            i.icon.pe-pen       

         


          h3.subheading
            | Brilliant Domain Names.
          p.paragraph
            | Don't forget anything on your next shopping session

        .col-4
          .icon-large       
            i.icon.pe-loop(style="font-size: 60px;") 
        
          h3.subheading
            | Having a grocery list improves your HEALTH!
          p.paragraph
            | This is simple (Coming soon)

        .col-4
   
          .icon-large       
            i.icon.pe-search      

         


          h3.subheading
            | Quick access 
          p.paragraph
            | Search ingredients in database, at your lists    

    .feature2
      .container-lrg.flex
        .col-4
          .icon-large       
            i.icon.pe-like 
          
          


          h3.subheading
            | Favourite ingredients
          p.paragraph
            | Save your favourite ingredients for fast access later (Coming soon)

        .col-4
   
          .icon-large       
            i.icon.pe-download       

         


          h3.subheading
            | Save and share your lists with family
          p.paragraph
            | Love paper lists? You can print them! (Coming soon)


    .feature2
      .container-lrg.flex
        .col-12
        | Features

    .feature2
      .container-lrg.flex
        .col-4
          
          .icon-large
            i.icon.pe-cash

         


          h3.subheading
            | Plan your family budget
          p.paragraph
            | You can calculate and plan your purchases (coming soon) Log how much do you spend on this shopping session

        .col-4
          .icon-large       
            i.icon.pe-calculator

          h3.subheading
            | Instant Handles
          p.paragraph
            | Plan your budget from your previous purchased items history handles. (coming soon)                                               

        .col-4
   
          .icon-large       
            i.icon.pe-cash       

         


          h3.subheading
            | Brilliant Domain Names.
          p.paragraph
            | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!


    include ../partials/science          



    .footer
      .container-sml.text-center
        .col-12
          h5.heading
            | Instantly search domains, handles and logotypes.
          .ctas
            a.ctas-button(href='')
              | Sign Up
            a.ctas-button-2(href='')
              | Sign Up
              
      .container-lrg.footer-nav
        .col-12.spread
          div
            a.nav-link(href="#")
              | Twitter
            a.nav-link(href="#")
              | Facebook
          div
            a.nav-link(href="#")
              | Email Us
            a.nav-link(href="/credits")
              | Credits  

    script(src='https://use.fontawesome.com/8b5217f583.js')