extends ../layouts/dashboard

block content
  h2 Third Party Profile(s)
  p.small
    if user.profiles.length !== 0
      each val in user.profiles
        h4= val.provider + ':'
        p.small= JSON.stringify(val)
    else
      | NONE


  a.btn.btn-primary(href="/auth/attach-grocery-to-user/598397f9363a9c1b385bfbac") Attache
  br
  br
  a.btn.btn-primary(href="/auth/attach-grocery-to-user/599bd8e596fc0e2a4468137a") Attache2
  br
  a.btn.btn-primary(href="/add/fav2/598397fb363a9c1b385bfbbd") ADD FAV

  if groceries
    .col-md-12
      include ../partials/groceries-list
  br

  hr
  a.btn.btn-primary(href="/favorites") ФАВЫ
  hr

  hr
  a.btn.btn-primary(href="/clone/599bd8e596fc0e2a4468137a") CLONE GROCERY
  hr

  h2 Linked Account(s)
  ul.list-inline.list-unstyled
    li
      a.btn.btn-primary(href="/link/facebook") Link Facebook

  p.small
    if user.accounts.length !== 0
      each val in user.accounts
        h4= val.provider + ':'
        p.small= JSON.stringify(val)
    else
      | NONE
  

  .col-md-12
    include ../partials/departments-list