extends ../layouts/selectable

block content
    
  .container
    // Top Navigation
    section
      
      form#choose-department(name="formsubmit", method="post", action="/dprtmnt/view/")

        select.cs-select.cs-skin-border#departmentList
          option(value='', disabled='', selected='') Department

          each val, index in data
            if (val.ingredients.length !== 0)
              option(value=val.id)= val.name 

        input.btn.btn-success(type='submit', value='Open Department')      

  
  
  script(src='/vendor/jquery/jquery.js')
  
  script(src='/javascript/select-demo/classie.js')
  script(src='/javascript/select-demo/selectFx.js')
  script.
    (function() {
    [].slice.call(
     document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
    new SelectFx(el);
    } );
    })();

  script.
    $(document).ready(function(){

      $('select').on('change', function() {

        console.log(this.value);
        console.log(this.data());

      });

      $('#choose-department').on('submit', function(){

        return false;
      });

      $("#choose-department").submit(function(e) {

        //prevent Default functionality
        e.preventDefault();

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        var groceryId = 0;
        var departmentId = 0;

        window.location.replace("/todo/" + groceryId + '/' + departmentId);

    });

    });

