extends ../layouts/selectable

block content
    
  .container
    // Top Navigation
    section
      

      include ../partials/departments-select

     

  
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js')
  
  script(src='/javascript/select-demo/classie.js')
  script(src='/javascript/select-demo/selectFx.js')
  script.
    (function() {
    [].slice.call(
     document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
    new SelectFx(el);
    } );
    })();


  script.
    $(document).ready(function(){

      $('select').on('change', function() {

        console.log(this.value);
        console.log(this.data());

      });

      //$('#choose-department').on('submit', function(){

        //return false;
      //});

      $("#choose-department").submit(function(e) {

        //prevent Default functionality
        e.preventDefault();

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        var groceryId    = $('#grocery').val();
        var departmentId = $('select').val();
       
        var path = "/todo/" + groceryId + '/' + departmentId;        

        window.location.replace(path);

    });

    });

