extends ../layouts/selectable

block content
    
  .container
    // Top Navigation
    section
      

      include ../partials/departments-select

     

  
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
  
  include ../static/scripts-select





  script.
    $(document).ready(function(){

      //- $('select').on('change', function() {

      //-   console.log(this.value);
      //-   console.log(this.data());

      //- });


      $("#choose-department").submit(function(e) {

        //prevent Default functionality
        e.preventDefault();

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        var groceryId    = $('#grocery').val();
        var departmentId = $('select').val();
       
        var path = "/shopping/" + groceryId + '/' + departmentId;        

        window.location.replace(path);

      });

    });