extends ../layouts/selectable

block content
    
  .container
    // Top Navigation
    section
      select.cs-select.cs-skin-border
        option(value='', disabled='', selected='') Department
        option(value='email') Dairy
        option(value='twitter') Cheese
        option(value='linkedin') Meat
  
  script(src='/vendor/jquery/jquery.js')
  
  script(src='/javascript/select-demo/classie.js')
  script(src='/javascript/select-demo/selectFx.js')
  script.
    (function() {
    [].slice.call(
     document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
    new SelectFx(el);
    } );
    })();

  script.
    $(document).ready(function(){

      $('select').on('change', function() {
		  
		  console.log(this.value);
		  console.log(this.data())

		})

    });

